
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

section, nav, footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}



nav {
  padding: 15px 20px;
  border-bottom: 5px solid #2351cf;
}

/* Cada link del nav */
nav a {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #0066cc;
}

.links {
  border-top: #0066cc;
  text-align: center;
}


h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 20px;
}


table {
  margin-top: 20px;
  border-collapse: collapse; 
  width: 100%;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: top;
}

td:first-child {
  width: 200px;
  background-color: #f5f5f5;
}

strong { 
 color: #0066cc;
}

.galeria {
  margin-top: 20px;
}

.foto {
  display: inline-block;
  width: 300px;      
  margin: 10px;
  vertical-align: top;
  text-align: center;
}

.foto img {
  width: 300px;      /*  mismo valor que .foto */
  height: 225px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.foto p {
  font-size: 0.85rem;
  color: #666;
  margin-top: 6px;
}

a {
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 0.9rem;
  text-align: center;
}

#inicio {
  line-height: 1;
}

.foto img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.foto img:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

.foto-link {
  display: inline-block;
  width: 300x;
  margin: 10px;
  text-align: center;
}

.foto-link img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.descripcion-usuario {
  font-family: Arial, Helvetica, sans-serif;
  height: 70px;
  line-height: 21px;
}

b {
  color: #0066cc;
} 

  .foto-artista {
  display: inline-block;
  width: 150px;
  margin: 8px;
  vertical-align: top;
  text-align: center;
  position: relative; 
  }

  .foto-artista img {
    width: 150px;
    height: 150px;
    text-align: center;
    object-fit: cover;
    border: 1px solid #ddd;
  }

  .foto-artista p {
    font-size: 0.8rem;
    margin-top: 4px;
    height: 10px;
  }

  .foto-artista a {
    text-decoration: none;
  }

  .video-preview {
    display: none;
    position:absolute;
    top: 0;
    left: 160px;
    z-index: 999;
    width: 896px;
    background: #000;
    border: 2px solid #ddd;
  }

  .video-preview-left {
    display: none;
    position:absolute;
    top: 0;
    left: auto;
    right: 160px;
    z-index: 999;
    width: 896px;
    background: #000;
    border: 2px solid #ddd;
 
  }

  .video-preview-center {
    display: none;
    position:absolute;
    top: 220px;
    left: -370px;
    right: -400px;
    z-index: 999;
    width: 896px;
    height: 504px; 
    background: #000;
    border: 2px solid #ddd;
  }

   .video-preview iframe {
    width: 896px;
    height: 504px;
    border: none;
  }

  .video-preview-left iframe {
    width: 896px;
    height: 504px;
    border: none;
  }

  .video-preview-center iframe {
    width: 896px;
    height: 504px;
    border: none;
  }

  .foto-juego {
    display: inline-block;
    width: 146px;
    margin: 8px;
    vertical-align: top;
    transition: all ease-in-out 0.2s;
  }

  .foto-juego:hover {
    transform: scale(1.2)
  }

  .foto-juego img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ddd;
  }

  .foto-juego p {
    height: 10px;
    font-size: 0.8rem;
    margin-top: 4px;
  }

  .foto-yt {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: #ededed;
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: rgba(36, 172, 241, 0.24) 4px 10px 15px; /* el tercero el blur */
    transition: all ease-in-out 0.2s;
  }

  .foto-yt:hover {
    transform: scale(1.1);
  }

  .foto-yt img {
      border-radius: 15%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 1px solid #ddd;
      flex-shrink: 0;
    }

  .foto-info {
    display: flex;
    flex-direction: column ;
    color: #000;
    justify-content: flex-start;
  }
  
   .foto-info h2 {
    color: #0066cc;
    font-size: 30px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

    .foto-info p {
    font-size: 15px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    
  }